body {
  background-image: url();
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}
.logo2 {
  height: 88px;
  width: 88px;
}
.heading {
  font-size: 30px;
}

.firstboi {
  object-fit: contain;
  width: 500pxpx;
  height: 600px;
}
button {
  transition-duration: 0.4s;
  background-color: #4caf50; /* Green */
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 25%;
}
/* nav bar */
ul {
  width: 100%;
  background-color: black;
  padding: 20px;
  border: black;
}
li {
  float: right;
  background-color: black;
}

/* divs */
.num1 {
  display: grid;
  place-items: center;
  height: 1200px;
  width: 100%;
  background-image: url(music_back.jpg);
  background-size: cover;
}
.num2 {
  display: grid;
  place-items: center;
  height: 700px;
  width: 100%;
  color: #ffffff;
  background-color: #292870;
  background-size: cover;
}
.num3 {
  display: grid;
  place-items: center;
  height: 700px;
  width: 100%;
  background-image: url(music_back.jpg);
  background-size: cover;
}

/* headers
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  width: 100%;
  position: fixed top;
}

/* Footers */
/* footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
  width: 100%;
} */
.contact {
  height: 446px;
  width: 938px;
  display: grid;
  place-items: center;
  background-color: #ffffff;
}
